<div class="search">
  <input
    class="searchName"
    type="text"
    (input)="getPokemon($any($event.target).value)"
    placeholder="Pesquise o nome do pokemon desejado"
  />
</div>
<div class="conteiner___card">
  <div class="card__title">
    <h3>{{ pokemon.name }}</h3>
  </div>
  <div class="card__body">
    <img [src]="pokemon.sprites.front_default" alt="pokemon" />
  </div>
  <div class="card__stats">
    <span class="card__stats__type" *ngFor="let t of pokemon.types">
      {{ t.type.name }}
    </span>
  </div>
</div>
